// 全局修改antd组件的样式

.ant-layout-header {
  // display: flex; // logo和导航栏 为flex布局
  height: 50px;
  padding: 0;
  line-height: 50px;
  background-color: #fff;
  // border-bottom: 1px solid #ccc;
  // margin-bottom: 1px;
}

// 设置antd Table表头的样式(详见单用户管理)
.ant-table {
  .ant-table-thead {
    background-color: #eee;
    tr > th {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }
}
